<!doctype html>
<html>
	<head>
		<title>Hier komt je titel</title>
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">
		<meta charset="utf-8">
	</head>
	<body>
       <%- yield %>
	     <script src="assets/javascripts/application.js"></script>
	</body>
</html>
